.container {
  margin: 5% 0;
  padding: 0 20% !important;
  font-size: 0.8rem;
}

h2 {
  font-size: 180% !important;
}
h4 {
  font-size: 150% !important;
  margin-bottom: 16px !important;
}
h5 {
  font-size: 120% !important;
  margin-bottom: 3px !important;
}
h6 {
  font-size: 105% !important;
  font-weight: bold !important;
  margin-bottom: 3px !important;
}

.row {
  margin-bottom: 2%;
}

.about {
  margin-top: 2% !important;
}

#courses {
  margin-bottom: 6px;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.where a:hover {
  color: grey !important;
  text-decoration: underline !important;
}

#contact-info a {
  display: inline-block;
  padding: 6px;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 8px;
  margin-top: 16px;
  margin-right: 4px;
}

#contact-info a:hover {
  background-color: rgb(243, 243, 243);
}

#courses a:hover {
  color: grey !important;
  text-decoration: underline !important;
}

.date {
  float: right;
  font-size: 0.7rem;
  font-weight: normal;
}

@media (max-width: 750px) {
  .container {
    padding: 0 12px !important;
  }
}
@media (max-width: 576px) {
  .container {
    font-size: 0.6rem;
  }
  .date {
    font-size: 0.6rem;
  }
}
